<div class="container">
    <p> tac tac {{user.username}} t</p>
    <h1> Créer un article </h1>
    <form method="post">
        <label for="title">Titre </label>
        <input type="text" class="form-control" name="title">
        <textarea name="body" class="form-control" aria-label="With textarea" onkeyup="characterCounter(this.value)" maxlength="200"></textarea>
        <p id="character-counter"></p>
        <div class="category-selector">
            <p>Catégorie : </p>
            {{#each categories}}
            <input type="checkbox" name="category" value="{{this.id}}">
            <label for="category">{{this.name}}</label>
            {{/each}}
        </div>
        <div class="draft">
            <label for="isPrivate">Brouillon</label>
            <input type="checkbox" data-val="true" value="true" name="isPrivate">
        </div>
        <button type="submit" class="btn btn-primary">Créer l'article</button>

    </form>

</div>