<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>

<body>

    <div class="container">
        <h1> Créer un article </h1>
        <p>Caractère restant : </p>
        <form method="post">
            <textarea name="body" class="form-control" aria-label="With textarea"></textarea>
            <div class="category-selector">
                <p>Catégorie : </p>
            </div>
            <div class="draft">
                <p> Brouillon : </p>
                <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
            <button type="submit" class="btn btn-primary">Créer l'article</button>

        </form>

    </div>
</body>

</html>