<body class="text-center">
    <form method="post" class="layout form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

        <label for="email" class="sr-only">Adresse mail</label>
        <input name="email" type="email" class="form-control" placeholder="Adresse mail" required autofocus>

        <label for="username" class="sr-only">Nom d'utilisateur</label>
        <input name="username" type="text" class="form-control" placeholder="Nom d'utilisateur" required autofocus>

        <label for="password" class="sr-only">Mot de passe</label>
        <input name="password" type="password" class="form-control" placeholder="Mot de passe" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscire</button>
    </form>
</body>