<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style/index.css">
    <script src="/js/characterCounter.js"></script>

</head>

<body>
    <ul>
        <li>
            <a href="/articles"> Listes d'articles</a>
            <a href="/article/creer"> Créer un article</a>
        </li>
    </ul>

    {{{body}}}

</body>

</html>